<%= render 'shared/errors', obj: @chef%>

<div class='row'>
    <div class='col-md-12'>    
        <%= form_for(@chef, :html => {class: "form-horizontal", role: "form"}) do |c| %>
            <div class='form-group'>
                <div class='control-label col-md-2'>
                    <%= c.label :name %>
                </div>
                <div class='col-md-8'>
                    <%= c.text_field :name, class: 'form-control', placeholder: 'Name', autofocus: true%>
                </div>
            </div>

            <div class='form-group'>
                <div class='control-label col-md-2'>
                    <%= c.label :email %>
                </div>
                <div class='col-md-8'>
                    <%= c.text_field :email, rows: 10, class: 'form-control', placeholder: 'Email'%>
                </div>
            </div>

            <div class='form-group'>
                <div class='control-label col-md-2'>
                    <%= c.label :password %>
                </div>
                <div class='col-md-8'>
                    <%= c.password_field :password, class: 'form-control', placeholder: 'Password'%>
                </div>
            </div>

            <div class='form-group'>
                <div class='control-label col-md-2'>
                    <%= c.label :password_confirmation, 'Confirm Password' %>
                </div>
                <div class='col-md-8'>
                    <%= c.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password'%>
                </div>
            </div>

            <div class='form-group'>
                <div class='col-md-offset-2 col-md-10'>
                    <%= c.submit class: 'btn btn-primary btn-lg btn-xlarge'%>
                </div>
            </div>
        <% end %>

        <div class='col-md-4 col-md-offset-4 colormatch'>
            [ <%= link_to 'Cancel', recipes_path %> ]
        </div>
    </div>
</div>