<%= render 'shared/page_title', title: @recipe.name %>

<div class='well col-md-8 col-md-offset-2'>
    <h4 class='center description'> <strong>Steps:  </strong></h4>
    <hr />
    <%= simple_format(@recipe.description) %>
    <% if @recipe.ingredients.any? %> 
        <p>Ingredients:&ensp;<%= render @recipe.ingredients%> </p>
        <%# Rails magic for rendering the _ingredient partial %>
	<% end %>
    <hr />
    <div class='pull-right'> 
        <p class='center'> 
            <em> Created by:</em> 
        </p>
    <p class='center'> 
        <%= link_to gravatar_for(@recipe.chef, size:60) , chef_path(@recipe.chef) %>
    </p>
    <p class='center'>
        <small> <%= @recipe.chef.name.capitalize %> </small>
        <div class='pull-right'> <%=time_ago_in_words(@recipe.created_at)%> ago </div>
    </p> 
    </div>
    <div class='recipe-actions'>
        <% if is_logged_in && current_chef == @recipe.chef || current_chef.try(:admin)%>   
            <%= link_to 'Edit', edit_recipe_path(@recipe), class: 'btn btn-xs btn-warning'%>
            <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: {confirm: 'Are you sure you want to delete?'}, class: 'btn btn-xs btn-danger' %>
        <% end %>
        <%= link_to 'Home', recipes_path, class: 'btn btn-xs btn-primary'%>
    </div>
</div>

<% if is_logged_in %>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
        <h3>Comments: </h3>
        <hr />    
            <%= form_for([@recipe, @comment], remote: true, :html => {class: "form-horizontal", role: "form"}) do |r| %>
                <div class='form-group'>
                    <div class='control-label col-md-2 pull-left'>
                        <%= r.label :description %>
                    </div>
                    <div class='col-md-8'>
                        <%= r.text_area :description, rows: 6, class: 'form-control', placeholder: 'Enter comment here'%>
                    </div>
                </div>
                    <br>
                <div class='form-group'>
                    <div class='col-md-offset-2 col-md-10'>
                        <%= r.submit 'Post comment', class: 'btn btn-primary btn-lg btn-xlarge'%>
                    </div>
                </div>
            <% end %>
            <hr>
        </div>
    </div>
<% end %>

<% if @recipe.comments != 0 %>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <h3>Prior Comments:</h3>
            <div id="messages">
                <%= render partial: 'comments/comments', object: @comment %>
            </div>
        </div>
    </div>
<% else %>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <h3>No Comments</h3>
        </div>
    </div>
<% end  %>